[user]
    name = Gyeongchan Yun
    email = rugyoon@gmail.com
    username = gyeongchan-yun
[core]
    editor = vim
[alias]
    # git add [file]
    a = add
    ap = add -p
    # git branch [branch name]
    b = branch
    ba = branch -a
    bd = branch -d
    bdd = branch -D
    br = branch -r
    cb = rev-parse --abbrev-ref HEAD  # current branch name.
    # git commit 
    cm = commit -m
    ca = commit --amend
    # git clone
    cl = clone
    clb = clone -b  # clone specific branch of repository.
    # git diff
    d = diff
    dh = diff HEAD 
    # git log
    lg = log --graph --abbrev-commit --decorate --all --oneline
    # git checkout 
    co = checkout
    cob = checkout -b
    # git push
    ps = push
    psf = push -f
    psu = push -u
    psom = push origin master
    psob = !git push origin $(git cb)
    # git pull
    pl = pull
    plob = !git pull origin $(git cb)
    # git remote
    r = remote
    rv = remote -v
    ra = remote add
    rao = remote add origin
    # git status
    s = status
    # git stash
    sa = stash apply
    sl = stash list
    sp = stash pop
    sd = stash drop

